<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  
<table class="table table-bordered table-striped table-hover">
  <thead> 
    <button class="debugBtn" type="button" value="debug" ng-click="debugBtn()">Debug</button>
    <button ng-click="addRow()">Add Row</button>
    <button ng-click="addCol()">Add Col</button>
    <button ng-click="clearBtn()">Clear</button>
  </thead>
  <tbody>
    <tr class="column-label">
      <td></td>
      <td class="fontForText" ng-repeat="column in columns">{{column}}</td>
    </tr>
    <tr class="fontForText" ng-repeat="row in rows">
      <td class="row-label">{{row}}</td>
      <td class="cellContainer" ng-repeat="column in columns">
        <div class="fontForText">
          <input class="inputCell" ng-model="cells[column+row]" >
          <div class="outputCell fontForText" ng-show="" ng-bind="compute(column+row)"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>

<div class="row marketing">
  
</div>
