<div>
  

  <button class="debugBtn" type="button" value="debug" ng-click="debugBtn()">Debug</button>
  <button ng-click="addRow()">Add Row</button>
  <button ng-click="addCol()">Add Col</button>

  



<table class="table table-striped">
    <tr class="column-label">
      <td></td>
      <td class="fontForText" ng-repeat="column in columns">{{column}}</td>
    </tr>
    <tr class="fontForText" ng-repeat="row in rows">
      <td class="row-label">{{row}}</td>
      <td ng-repeat="column in columns">
        <div class="fontForText">
          <input class="inputCell" ng-model="cells[column+row]">
          <div ng-bind="compute(column+row)"
               class="output"></div>
        </div>
      </td>
    </tr>
</table>

</div>

<div class="row marketing">
  
</div>
